.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-indigo-400 {
  background-color: #93a2dc !important;
}
.bg-indigo-500 {
  background-color: #3b509d !important;
}
.bg-indigo-500 {
  background-color: #2d3c72 !important;
}
.bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(147, 162, 220, 1) 0%,
    rgba(59, 80, 157, 1) 100%
  ) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
